<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>Minicomic of the Month Club 2017</title>
        <meta name="description" content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title"
              content="Minicomic of the Month Club 2017" />
        <meta property="og:type"
              content="website"/>
        <meta property="og:url"
              content="http://minicomic.club/2017" />
        <meta property="og:description"
              content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017" />
        <meta property="og:image"
              content="http://minicomic.club/2017/img/share.jpg"/>

         <meta name="twitter:card"
               content="photo" />
        <meta name="twitter:site"
              content = "@smallercomics" />
        <meta name="twitter:creator"
              content = "@smallercomics" />
        <meta name="twitter:title"
              content = "Minicomic of the Month Club 2017" />
        <meta name="twitter:image"
              content = "http://minicomic.club/2017/img/share.jpg" />


        <link rel="canonical"
              href="http://minicomic.club/2017" />

        {{> typekit }}
        
    <style>
      @import url(./main.css);
    </style>

    </head>
    <body>

        {{> fb }}
        
       <header class="banner">
            <img src="./img/banner.jpg"/>
            <div></div>
            <h1>Minicomic of the Month Club 2017</h1>
       </header>
       
       <header id="scroll-header">
           <img src="./img/title.jpg"/>
           <a class="subscribe-button" href="#subscribe">subscribe now &raquo;</a>
       </header>
       
       <section id="intro">
           <div class="inner">
            <p><strong>Minicomic.club</strong> is back for 2017, bringing you and your mailbox a years worth of minicomics and zines from some of Australia's most interesting cartoonists and comics-makers.</p>
            <p>Sign up and get <strong>12</strong> comics over <strong>12</strong> months, one each from these beautiful people. Take a look at their work - maybe discover someone new - and <a class="subscribe-button" href="#subscribe">subscribe</a></p>
            </div>
       </section>

       <section id="contributors">
            {{#each contributors}} 
                {{> contributor }}
            {{/each}}
       </section>
       <section  id="subscribe">
           <div class="inner">
            <p><strong>$38</strong> in Australia/ <strong>$42</strong> in New Zealand, and <strong>$52</strong> in the rest of the world.</p>
          </div>
       </section>
       <section id="second" class="callout yellow">
           <div class="inner">
               
               <p><strong>Subscriptions are closed for 2017</strong> - join our mailing list and we'll keep you up to date on when the next one opens:</p>
               
               <!-- Begin MailChimp Signup Form -->
               <div id="mc_embed_signup">
                   <form action="//club.us6.list-manage.com/subscribe/post?u=49bafb7944&amp;id=c69a2158fe" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                   <div id="mc_embed_signup_scroll">
                       <div class="mc-field-group">
                           <label for="mce-EMAIL">Your email:</label>
                           <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="you@yourhouse">
                        </div>
	                <div id="mce-responses" class="clear">
		                <div class="response" id="mce-error-response" style="display:none"></div>
		                <div class="response" id="mce-success-response" style="display:none"></div>
	                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_49bafb7944_c69a2158fe" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

<!--End mc_embed_signup-->
            </div>
       </section>

       <section class="callout">
           <div class="inner">
               <p>Do you know someone else who would be into this? We'd <em>love it if you told them about it</em>, or shared us around on <a class="fb-link" href="http://facebook.com/minicomic.club">Facebook</a> or <a href="https://twitter.com/intent/tweet?url=http%3A//smallercomics.com/minicomics-of-the-month/2017&via=smallercomics&text=Minicomics in the mail!">Twitter</a></p>
            </div>
       </section>

       <section id="previous">
           <div class="inner">
               <p><strong>Here's what you could be missing.</strong> Some of the comics sent out in previous seasons</p>
            </div>
            <div>
                {{#each previous}} 
                    {{> previous }}
                {{/each}}
            </div>
       </section>

       <section class = "content-banner">
           <img src="./img/getting-mailing.jpg" title="Get a comic in the mail, put a comic in the mail" />
       </section>

       <section class="callout">
           <div class="inner">
               <p>Any questions? Hit us up on <a href="https://twitter.com/smallercomics">twitter</a></p>
            </div>
       </section>

       <footer>
           <div class="inner">
            <p>All artwork &copy; the respective artists, site built by <a href="http://smallercomics.com" title="smallercomics and internet">smallercomics</a></p>
                <p>See previous years:
                    <a href="/2015">2015</a> |
                    <a href="/2014">2014</a> |
                    <a href="/2013">2013</a> |
                    <a href="/2012">2012</a>
                </p>
            </div>
        </footer>
       {{> ga }}

       <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
       <script type="text/javascript" src="./scripts.js"></script>
       <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
       <script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    </body>
</html>