<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>Minicomic of the Month Club 2017</title>
        <meta name="description" content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <meta property="og:title"
              content="Minicomic of the Month Club 2017" />
        <meta property="og:type"
              content="website"/>
        <meta property="og:url"
              content="http://minicomic.club/2017" />
        <meta property="og:description"
              content="An annual subscription to fine minicomics from Australian and New Zealand cartoonists and storytellers. Twelve comics from twelve artists in 2017" />
        <meta property="og:image"
              content="http://minicomic.club/2017/img/share.jpg"/>

         <meta name="twitter:card"
               content="photo" />
        <meta name="twitter:site"
              content = "@smallercomics" />
        <meta name="twitter:creator"
              content = "@smallercomics" />
        <meta name="twitter:title"
              content = "Minicomic of the Month Club 2017" />
        <meta name="twitter:image"
              content = "http://minicomic.club/2017/img/share.jpg" />


        <link rel="canonical"
              href="http://minicomic.club/2017" />

        {{> typekit }}
        
    <style>
      @import url(./main.css);
    </style>

    </head>
    <body>

        {{> fb }}
        
       <header class="banner">
           <img src="./img/banner.jpg"/>
           <div></div>
           <h1>Minicomic of the Month Club 2017</h1>
       </header>
       
       <header id="scroll-header">
           <img src="./img/title.jpg"/>
           <a class="subscribe-button" href="http://minicomicclub.bigcartel.com/product/minicomic-club-2017-subscription">subscribe now &raquo;</a>
       </header>
       
       <section id="intro">
           <div class="inner">
            <p><strong>Minicomic.club</strong> is back for 2017, bringing you and your mailbox a years worth of minicomics and zines from some of Australia's most interesting cartoonists and comics-makers.</p>
            <p>Sign up and get <strong>12</strong> comics over <strong>12</strong> months, one each from these beautiful people. Take a look at their work - maybe discover someone new - and <a class="subscribe-button" href="http://minicomicclub.bigcartel.com/product/minicomic-club-2017-subscription">subscribe</a></p>
            </div>
       </section>

       <section id="contributors">
            {{#each contributors}} 
                {{> contributor }}
            {{/each}}
       </section>

       <section id="second">
           <div class="inner">
               <p><strong>$38</strong> in Australia/ <strong>$42</strong> in New Zealand, and <strong>$52</strong> in the rest of the world.</p>
                <p>The first comic will go out when subscriptions close at the end of January 2017, <a class="subscribe-button" href="http://minicomicclub.bigcartel.com/product/minicomic-club-2017-subscription">subscribe now</a></p>
            </div>
       </section>

       <section class="callout">
           <div class="inner">
               <p>Do you know someone else who would be into this? We'd <em>love it if you told them about it</em>, or shared us around on <a class="fb-link" href="http://facebook.com/smallercomics">Facebook</a> or <a href="https://twitter.com/intent/tweet?url=http%3A//smallercomics.com/minicomics-of-the-month/2017&via=smallercomics&text=Minicomics in the mail!">Twitter</a></p>
            </div>
       </section>

       <section id="previous">
           <div class="inner">
               <p><strong>Here's what you could be missing.</strong> Some of the comics sent out in previous seasons</p>
            </div>
            <div>
                {{#each previous}} 
                    {{> previous }}
                {{/each}}
            </div>
       </section>

       <section class = "content-banner">
           <img src="./img/getting-mailing.jpg" title="Get a comic in the mail, put a comic in the mail" />
       </section>

       <section class="callout">
           <div class="inner">
               <p>Any questions? Hit us up on <a href="https://twitter.com/smallercomics">twitter</a></p>
            </div>
       </section>

       <footer>
           <div class="inner">
            <p>All artwork &copy; the respective artists, site built by <a href="http://smallercomics.com" title="smallercomics and internet">smallercomics</a></p>
                <p>See previous years:
                    <a href="/2015">2015</a> |
                    <a href="/2014">2014</a> |
                    <a href="/2013">2013</a> |
                    <a href="/2012">2012</a>
                </p>
            </div>
        </footer>
       {{> ga }}

       <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
       <script type="text/javascript" src="./scripts.js"></script>
    </body>
</html>