<footer>
    <div class="inner">
        <p>All artwork &copy; the respective artists, site built by <a href="http://smallercomics.com" title="smallercomics and internet">smallercomics</a></p>
        <p>See previous years:
            <a href="/2015">2015</a> |
            <a href="/2014">2014</a> |
            <a href="/2013">2013</a> |
            <a href="/2012">2012</a>
        </p>
    </div>
</footer>